{% extends 'base.html' %}

{% block h1 %} Add Post for {{user.full_name}} {% endblock %} 



{% block content %}

<div class="container mt-4">
    <div class="row">
        <form action="/users/{{user.id}}/post" method="POST">
            <div class="col input-group">
                <span class="input-group-text">Title</span>
                <input type="text" class="form-control" name="title">
            </div>
    
            <br>
            
            <div class="col input-group mb-4">
                <span class="input-group-text">Content</span>
                <textarea class="form-control" aria-label="Content" name="content"></textarea>
            </div>
            
            
            {% for tag in tags %} 
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="{{tag.name}}" name="tag" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                    {{tag.name}}
                    </label>
                </div>
            {% endfor %}
            

            <br>
            
            <div class="col">
                <button type="submit" class="btn btn-primary">Add</button>

                <a href="/users/{{user.id}}/details" class="btn btn-danger">Cancel</a>
            </div>    
        </form>
    </div>
</div>

{% endblock %}