{% extends 'base.html' %}

{% block h1 %} Add Tag {% endblock %} 



{% block content %}

<div class="container mt-4">
    <div class="row">
        <form action="/tags/new/" method="POST">
            <div class="col input-group">
                <span class="input-group-text">Tag Name</span>
                <input type="text" class="form-control" placeholder="Enter a name for this tag" name="name">
            </div>

            <br>
            
            <div class="col">
                <button type="submit" class="btn btn-primary">Add</button>

                <a href="/tags/" class="btn btn-danger">Cancel</a>
            </div>    
        </form>
    </div>
</div>

{% endblock %}