<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <script src="http://unpkg.com/jquery"></script>
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid mt-0">
    
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item mx-1">
                <a class="nav-link btn btn-outline-secondary" aria-current="page" href="/">Home</a>
              </li>
             <li class="nav-item mx-1">
                <a class="nav-link btn btn-outline-secondary" aria-current="page" href="/users/">Users</a>
             </li>
            <li class="nav-item mx-1">
                <a class="nav-link btn btn-outline-secondary" href="/tags/">Tags</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>

  <h1>
    <div class="container-fluid">
      <div class="row justify-content-between">
        <div class="col">
          {% block h1 %}{% endblock %}
       
        
          <!-- <div class="float-end">
            {% block home_button %}{% endblock %}
          </div> -->

      </div>
        
      </div>
    </div>
  </h1>
  {% block content %}{% endblock %}

</body>
</html>
