{% extends 'base.html' %} 

{% block h1 %}
    Create User
{% endblock %}




{% block content %}
<div class="container">
    <form action="/users/new" method="POST">
        <div class="mb-3">
            <label for="first-name-input" class="form-label">First Name</label>
            <input type="text" class='form-control' placeholder="Enter a first name" name="first_name">
        </div>
        <div class="mb-3">
          <label for="last-name-input" class="form-label">Last Name</label>
          <input type="text" placeholder="Enter a last name" class="form-control" name="last_name">
        </div>
        <div class="mb-3">
            <label for="profile-pic-input" class="form-label">Image URL</label>
            <input type="text" placeholder="Enter a profile picture" class="form-control" name="image_source">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
      
</div>



{% endblock %}