{% extends 'base.html' %}

{% block h1 %} Edit Tag {% endblock %} 



{% block content %}

<div class="container mt-4">
    <div class="row">
        <form action="/tags/{{tag.id}}/edit" method="POST">
            <div class="col input-group">
                <span class="input-group-text">Tag Name</span>
                <input type="text" class="form-control" placeholder="{{tag.name}}" name="name">
            </div>

            <br>
            
            <div class="col">
                <button type="submit" class="btn btn-primary">Edit</button>

                <a href="/tags/{{tag.id}}" class="btn btn-danger">Cancel</a>
            </div>    
        </form>
    </div>
</div>

{% endblock %}