{% extends 'base.html' %}

{% block h1 %} {{post.title}} {% endblock %} 

{% block home_button %} 
    <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16" aria-label="Home Icon">
            <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z"/>
          </svg>
    </a>
{% endblock %}

{% block content %}
<div class="container">
    <h3>{{post.content}}</h3>

    <h4 class="mb-4"><i>By {{user.full_name}}</i></h4>

    <div class="row">
        <div class="col mb-4">
            {% for tag in post.tags %}
                <span class="badge bg-primary rounded-pill float-start mx-1">{{tag.name}}</span>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="/users/{{post.user_id}}/details" class="btn btn-secondary">Author Details</a>
    
            <a href="/post/{{post.id}}/edit" class="btn btn-primary">Edit</a>
    
            <a href="/post/{{post.id}}/delete" class="btn btn-danger">Delete</a>
        </div>
    </div>
    
    
    
    


</div>


{% endblock %} 