{% extends 'base.html' %}

{% block title %} Tags {% endblock %}


{% block h1 %}
   
        Tags
    
{% endblock %}

{% block content %}
<div class="container">
    <div class="col-4 mt-4">
        <ul class="list-group">

            {% if tags|length == 0 %}
                No tags yet!
            {% else %}
                {% for tag in tags %}                
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="/tags/{{tag.id}}/" class="list-group-item list-group-item-action">
                                {{ tag.name }} 
                                <span class="badge bg-primary rounded-pill float-end">{{tag.posts|length}}</span>
                            </a>
                            
                        </li>
                {% endfor %}
            {% endif %}

        </ul>   
    </div>
    

    <div class="col">
        <form action="/tags/new">
            <button type="submit" class="btn btn-primary mt-4">Create Tag</button>
        </form>
    </div>
    
</div>

{% endblock %}