{% extends 'base.html' %}

{% block title %} Tag Details {% endblock %}
{% block h1 %} Tag Details {% endblock %}



{% block content %}

<div class="container mt-4">
    <div class="row align-items-center">
        <div class="col">
            <h2>{{tag.name}}</h2>
            <div class="list-group">
                <div class="row">
                    <div class="col-6">

                        {% if tag.posts|length == 0 %}
                            No post with this tag yet!
                        {% else %}
                            {% for post in tag.posts %}
                                
                                    <a href="/post/{{post.id}}" class="list-group-item list-group-item-action">
                                        {{post.title}}
                                    </a>
                            {% endfor %}
                                
                        {% endif %}
                    </div> 
                </div>
              </div>
              <div class="col mt-4">
                <a href="/tags/{{tag.id}}/edit/" class="btn btn-primary">Edit Tag</a>

                <a href="/tags/{{tag.id}}/delete/" class="btn btn-danger">Delete Tag</a>
            </div>  
          </div>       
    </div>

    <br>


</div>




    
   

    
        
   

{% endblock %}